.review input[type="checkbox"] {
    display: block;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
}

.review {
    text-align: center;
    justify-content: center;
    width: 98%;
    padding: 10px;
}

.review fieldset {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.review legend {
    text-align: center;
    padding-bottom: 5px;
    color: black;
}

.review input[type="submit"] {
    border: none;
    background-image: linear-gradient(#FFDE4D, #FF8C1A);
    color: black;
    font-size: large;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: 25px 2px 20px 0px;
    box-shadow: 1px 1px 4px #999;
}

input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}
